header,
section {
    margin: auto;
    overflow: hidden;
}


/*Estilos del header*/

header {
    min-height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    #logoPrincipal {
        float: left;
        /*Tamaño del logo principal */
        height: 130px;
        width: 355px;
        margin-left: 80px
    }
    nav {
        float: right;
        margin: 45px 50px 0 0;
    }
    li {
        /*Estilo de la lista*/
        display: inline;
    }
    nav a {
        /*Estilo de la a dentro del header*/
        border-radius: 6px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            background-color: #1293d4;
        }
        &:active {
            background-color: rgb(28, 93, 190);
        }
    }
}


/*Estilo del section principal*/

#section-principal {
    background: url('../img/mainImage.png');
    color: #fff;
    min-height: 591px;
    text-align: center;
    h1 {
        font-size: 65px;
        margin-bottom: 10px;
        margin-top: 240px;
    }
    p {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    a {
        font-size: 1.5rem;
        padding: 15px 30px;
        text-decoration: none;
    }
}


/*Estilos sección Boletín*/

#section-boletin {
    background: #24282b;
    border-top: 1.5px solid #1293d4;
    border-bottom: 1.5px solid #1293d4;
    color: #fff;
    text-align: center;
}

h2 {
    float: left;
    margin-left: 145px;
}

form {
    float: left;
    margin-top: 13px;
    margin-left: 20px;
}

input[type="email"] {
    height: 22px;
    margin-right: 15px;
    padding: 4px;
    width: 270px;
}